/* hind-siliguri-500 - latin */
@font-face {
	font-family: "Hind Siliguri";
	font-style: normal;
	font-weight: 500;
	src: url("./fonts/hind-siliguri-v12-latin-500.eot"); /* IE9 Compat Modes */
	src: local(""),
		url("./fonts/hind-siliguri-v12-latin-500.eot?#iefix")
			format("embedded-opentype"),
		/* IE6-IE8 */ url("./fonts/hind-siliguri-v12-latin-500.woff2")
			format("woff2"),
		/* Super Modern Browsers */ url("./fonts/hind-siliguri-v12-latin-500.woff")
			format("woff"),
		/* Modern Browsers */ url("./fonts/hind-siliguri-v12-latin-500.ttf")
			format("truetype"),
		/* Safari, Android, iOS */
			url("./fonts/hind-siliguri-v12-latin-500.svg#HindSiliguri") format("svg"); /* Legacy iOS */
}
/* hind-siliguri-regular - latin */
@font-face {
	font-family: "Hind Siliguri";
	font-style: normal;
	font-weight: 400;
	src: url("./fonts/hind-siliguri-v12-latin-regular.eot"); /* IE9 Compat Modes */
	src: local(""),
		url("./fonts/hind-siliguri-v12-latin-regular.eot?#iefix")
			format("embedded-opentype"),
		/* IE6-IE8 */ url("./fonts/hind-siliguri-v12-latin-regular.woff2")
			format("woff2"),
		/* Super Modern Browsers */
			url("./fonts/hind-siliguri-v12-latin-regular.woff") format("woff"),
		/* Modern Browsers */ url("./fonts/hind-siliguri-v12-latin-regular.ttf")
			format("truetype"),
		/* Safari, Android, iOS */
			url("./fonts/hind-siliguri-v12-latin-regular.svg#HindSiliguri")
			format("svg"); /* Legacy iOS */
}
/* hind-siliguri-600 - latin */
@font-face {
	font-family: "Hind Siliguri";
	font-style: normal;
	font-weight: 600;
	src: url("./fonts/hind-siliguri-v12-latin-600.eot"); /* IE9 Compat Modes */
	src: local(""),
		url("./fonts/hind-siliguri-v12-latin-600.eot?#iefix")
			format("embedded-opentype"),
		/* IE6-IE8 */ url("./fonts/hind-siliguri-v12-latin-600.woff2")
			format("woff2"),
		/* Super Modern Browsers */ url("./fonts/hind-siliguri-v12-latin-600.woff")
			format("woff"),
		/* Modern Browsers */ url("./fonts/hind-siliguri-v12-latin-600.ttf")
			format("truetype"),
		/* Safari, Android, iOS */
			url("./fonts/hind-siliguri-v12-latin-600.svg#HindSiliguri") format("svg"); /* Legacy iOS */
}

body {
	background: #e5e5e5;
}

.wrap-intire {
	width: 1600px;
	background: #ffffff;
	margin: 15px auto;
}

/*first page section start*/
.wrap-header-nav {
	display: flex;
	width: 573px;
	height: 40px;
	margin-left: 177px;
	align-self: center;
	font-family: "Hind Siliguri";
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	color: #030d15;
}

.header__nav-list {
	margin-right: 10px;
	height: 23px;
	align-self: center;
}

.header__nav-list:last-child {
	margin-right: 0px;
}
.wrapper-header {
	display: flex;
	width: 1600px;
	vertical-align: bottom;
	margin: 0px 230px;
	height: 90px;
}

.header__nav-item:hover {
	cursor: pointer;
}

.header__nav-icon {
	display: inline-block;
	padding-left: 3px;
	padding-bottom: 2px;
}

.wrap-header-search {
	align-self: center;
	margin-left: 157px;
}

.wrap-header-search img {
	display: inline-block;
	margin-right: 24px;
	vertical-align: middle;
}

.wrap-header-search img:nth-child(3) {
	margin-right: 0px;
}

.wrap-header-search-link {
	cursor: pointer;
}

.header__logo {
	align-self: center;
}

.wrap-content-txt {
	width: 555px;
	margin-left: 220px;
	margin-top: 129px;
}

.wrap-content-txt {
	width: 555px;
}
.exciting__upperdiscription {
	margin: 0px;
	font-family: "Hind Siliguri";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.145em;
	text-transform: uppercase;
	color: #c72535;
	opacity: 0.6;
}

.wrap-title {
	background-color: rgba(0, 120, 201, 0.1);
	width: 484px;
}

.exciting__title {
	padding-left: 10px;
	margin-top: 3px;
	margin-bottom: 0px;
	font-family: "Hind Siliguri";
	font-style: normal;
	font-weight: 600;
	font-size: 61px;
	line-height: 73px;
	color: #247cc0;
}

.exciting__title-highlight-below {
	font-family: "Hind Siliguri";
	font-style: normal;
	font-weight: 400;
	font-size: 61px;
	line-height: 73px;
	color: #030d15;
	margin: 0px;
}

.exciting__subdiscription {
	font-family: "Hind Siliguri";
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 27px;
	color: #030d15;
	opacity: 0.6;
	margin-top: 29px;
	margin-bottom: 36px;
}

.wrap-exciting-button {
	width: 151px;
	float: left;
}

.exciting__button {
	width: 151px;
	height: 58px;
	background: #247cc0;
	border: none;
	font-family: "Hind Siliguri";
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 26px;
	text-transform: uppercase;
	color: #ffffff;
}

.exciting__button-link:hover {
	cursor: pointer;
}

.wrap-exciting-prices {
	float: left;
	margin-left: 31px;
	height: 58px;
	vertical-align: middle;
}

.wrap-exciting-prices span {
	line-height: 58px;
}

.exciting__prices {
	font-family: "Hind Siliguri";
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 27px;
	text-align: center;
	color: #030d15;
	padding-right: 18px;
}

.exciting__prices-cross {
	font-family: "Hind Siliguri";
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 27px;
	text-align: center;
	text-decoration-line: line-through;
	color: #030d15;
	opacity: 0.5;
}

.wrap-content-basic {
	position: relative;
	display: flex;
	z-index: 1;
}

.wrap-content-img {
	margin-top: 54px;
	margin-left: 28px;
}

.wrap-exciting-footer {
	position: relative;
	z-index: 5;
	width: 1140px;
	height: 237px;
	margin: 0 auto;
	margin-top: -37px;
	background: #ffffff;
	box-shadow: 0px 100px 80px rgba(174, 174, 174, 0.08),
		0px 43.751px 36.4414px rgba(174, 174, 174, 0.0575083),
		0px 19.8401px 19.1406px rgba(174, 174, 174, 0.0476886),
		0px 6.77214px 9.61331px rgba(174, 174, 174, 0.04),
		0px 0.190079px 4.14347px rgba(174, 174, 174, 0.0323114),
		0px -1.73968px 1.20532px rgba(174, 174, 174, 0.0224916);
	border-radius: 0px;
}

.wrap-exciting-footer img {
	padding-left: 84px;
	padding-top: 76px;
}

.wrap-exciting-footer img:first-child {
	padding-left: 118px;
}

.exciting__footer-img {
	display: inline-block;
	height: 85px;
	width: 163px;
}

/*first page section end*/

/*always in style section start*/
.wrap-flex-always-instyle {
	display: flex;
	width: 1133px;
	margin-left: 230px;
	height: 270px;
	margin-top: 110px;
}

.wrap-flex-inner {
	width: 556px;
	display: flex;
}

.flex-always-cart {
	position: relative;
	top: -260px;
	left: 250px;
}

.always-cart-img-link:hover {
	cursor: pointer;
}

.wrap-always-instyle__img {
	height: 248px;
	align-self: flex-end;
}

.always-instyle__txt-content {
	margin-left: 30px;
	display: inline-block;
	width: 256px;
	padding-top: 53px;
}

.always-instyle__title {
	font-family: "Hind Siliguri";
	line-height: 40px;
	font-style: normal;
	font-weight: 600;
	font-size: 25px;
	color: #030d15;
	margin: 0px;
}

.always-instyle__maintext {
	font-family: "Hind Siliguri";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: #030d15;
	opacity: 0.6;
	margin: 0px;
	margin-top: 9px;
}

.always-instyle__prices {
	margin: 0px;
	margin-top: 20px;
	margin-bottom: 15px;
}

.always-instyle__prices-real {
	font-family: "Hind Siliguri";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 27px;
	color: #030d15;
}

.always-instyle__prices-crossing {
	font-family: "Hind Siliguri";
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 27px;
	color: #030d15;
	opacity: 0.5;
}

/*always in style section end*/

/*features drone and camera section start*/

.wrap-features-flex {
	box-sizing: border-box;
	display: flex;
	width: 1140px;
	height: 333px;
	padding-top: 22px;
	padding-bottom: 15px;
	margin: 138px 230px 31px 230px;
}

.wrap-features-inner-flex {
	display: flex;
	background: linear-gradient(257.26deg, #008bf0 -13.2%, #d943c9 130.95%);
	border: 1px solid rgba(0, 0, 0, 0.1);
	width: 555px;
	height: 296px;
	margin-right: 30px;
	color: #f4f9fc;
}

.features__content-txt {
	width: 258px;
	padding-top: 75px;
	padding-left: 35px;
	text-transform: uppercase;
}

.features__content-discont {
	font-family: "Hind Siliguri";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 27px;
	opacity: 0.6;
	margin: 0px;
}

.features__content-mainfeature {
	font-family: "Hind Siliguri";
	font-style: normal;
	font-weight: 600;
	font-size: 31px;
	line-height: 40px;
	margin: 0px;
	margin-top: 5px;
}

.features__content-mainfeature-normal {
	text-transform: none;
}

.features_content-action {
	font-family: "Hind Siliguri";
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 27px;
}
.features_content-action-link:hover {
	cursor: pointer;
}

.features_content-img-wrap {
	width: 265px;
}

.features_content-img-telecopter {
	position: relative;
	right: 55px;
	top: -20px;
}

.features_content-img-camera {
	position: relative;
	right: 30px;
	top: 40px;
}

/*features drone and camera section end*/

/*about products section start*/

.wrap-about-products {
	width: 1600px;
	height: 870px;
	padding-left: 135px;
	display: flex;
}

.about-products-content-list {
	list-style: outside;
	list-style-type: none;
}

.wrap-about-products-img {
	padding-right: 131px;
}

.wrap-about-products-content {
	padding-top: 115px;
	width: 457px;
}

.about-products-content-preview {
	font-family: "Hind Siliguri";
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 23px;
	letter-spacing: 0.145em;
	text-transform: uppercase;
	color: #c72535;
	opacity: 0.6;
	margin: 0px;
}

.about-products-content-title {
	font-family: "Hind Siliguri";
	font-style: normal;
	font-weight: 600;
	font-size: 44px;
	line-height: 71px;
	color: #030d15;
	margin: 0px;
	padding-bottom: 115px;
}

.about-products-content-main {
	font-family: "Hind Siliguri";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #030d15;
	opacity: 0.6;
	margin: 0px;
}

.about-products-content-list {
	padding-top: 40px;
	margin: 0px;
	padding-left: 0px;
	width: 380px;
}

.about-products-content-list li {
	font-family: "Hind Siliguri";
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 27px;
	color: #030d15;
	margin-bottom: 20px;
	padding-left: 30px;
	background: url(./img/pointer.png) no-repeat center left;
}

.about-products-content-list li:nth-child(2) {
	background: url(./img/pointer.png) no-repeat top left;
}

/*about products section end*/

/*popular products section start*/

.wrap-popular-products__title {
	text-align: center;
	margin-top: 124px;
}

.popular-products__title-preview {
	font-family: "Hind Siliguri";
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 23px;
	text-align: center;
	letter-spacing: 0.145em;
	text-transform: uppercase;
	color: #c72535;
	opacity: 0.6;
	margin: 0px;
}

.popular-products__title-maintxt {
	font-family: "Hind Siliguri";
	font-style: normal;
	font-weight: 600;
	font-size: 44px;
	line-height: 71px;
	color: #030d15;
	margin: 0px;
	margin-bottom: 22px;
}

.popular-products-nav__list {
	list-style-type: none;
	display: flex;
	margin-left: 555px;
	padding-left: 0px;
	margin-bottom: 0px;
}

.popular-products-nav__item {
	margin-right: 40px;
	font-family: "Hind Siliguri";
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 23px;
	text-transform: uppercase;
	color: #030d15;
	opacity: 0.6;
}

.popular-products-nav__list li:last-child {
	margin-right: 0px;
}

.popular-products-nav__list li:first-child {
	color: #c72535;
}

.popular-products-nav__list li:hover {
	color: #c72535;
	cursor: pointer;
}

.popular-products-nav__list
	li:nth-child(2)
	+ .popular-products-nav__list
	li:nth-child(1) {
	color: #030d15;
}

.wrap-flex-popular-products__choices {
	display: flex;
	width: 1140px;
	height: 1036px;
	align-content: space-between;
	flex-wrap: wrap;
	margin-left: 230px;
	padding-top: 50px;
}

.wrap-popular-products__item {
	width: 360px;
	height: 503px;
	margin-right: 30px;
}

.wrap-flex-popular-products__choices div:nth-child(3) {
	margin-right: 0px;
}

.wrap-flex-popular-products__choices div:nth-child(6) {
	margin-right: 0px;
}

.wrap-popular-products__item-pic {
	padding: 35px 37px 0px 37px;
}
.popular-products__item-discont {
	font-family: "Hind Siliguri";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 27px;
	color: #030d15;
	margin: 0px;
	background: url(./img/mouse.png);
	width: 286px;
	height: 273px;
}

.popular-products__item-nav-list {
	display: flex;
	list-style-type: none;
	width: 290px;
	justify-content: space-between;
	padding-left: 35px;
	height: 22px;
	margin: 0px;
	margin-top: 62px;
}

.wrap-flex-popular-products__prices {
	margin-top: 42px;
	display: flex;
	margin-left: 35px;
	width: 360px;
	height: 42px;
}

.popular-products__prices {
	font-family: "Hind Siliguri";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 27px;
	color: #030d15;
}

.popular-products__prices-cross {
	font-family: "Hind Siliguri";
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 27px;
	text-align: center;
	text-decoration-line: line-through;
	color: #030d15;
	opacity: 0.5;
}

.popular-products__prices-padding {
	padding-left: 35px;
}

.popular-products__prices-spliter {
	font-family: "Hind Siliguri";
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 27px;
	text-align: center;
	color: #030d15;
	opacity: 0.5;
}

.popular-products__rating-img {
	padding-top: 3px;
	padding-bottom: 28px;
}

.popular-products__color {
	margin-left: 75px;
	align-self: center;
}

.popular-products__color-choice {
	margin-right: 20px;
}

.popular-products__color img:last-child {
	margin-right: 0px;
}

.popular-products__color img:hover {
	opacity: 0.7;
	cursor: pointer;
}

.popular-products__item-nav-img {
	cursor: pointer;
}

.popular-products__item-discont-speaker {
	padding: 35px 0px 0px 33px;
	margin: 0px;
	font-family: "Hind Siliguri";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 27px;
	color: #030d15;
}

.popular-products__item-discont-speaker-img {
	padding: 12px 59px 0px 58px;
}

.popular-products__item-discont-speaker-name {
	margin: 0px;
	padding-left: 35px;
	padding-top: 72px;
	font-family: "Hind Siliguri";
	font-style: normal;
	font-weight: 600;
	font-size: 25px;
	line-height: 40px;
	color: #030d15;
}

.popular-products__item-discont-keyboard-name {
	padding-top: 126px;
}

.wrap-flex-popular-products__prices-speaker {
	margin-top: 0px;
}

.popular-products__item-discont-keyboard-img {
	padding-top: 50px;
	padding-left: 47px;
}

.popular-products__item-discont-keyboard-name {
	padding-top: 126px;
}

.wrap-popular-products__item-mac-pic {
	margin-top: 15px;
	margin-left: 17px;
	height: 313px;
	width: 326px;
	background: url(./img/Macbook.png) no-repeat;
}

.popular-products__item-discont-macbook {
	padding-top: 20px;
	padding-left: 18px;
	margin: 0px;
	font-family: "Hind Siliguri";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 27px;
	color: #030d15;
}

.popular-products__item-discont-mac-name {
	padding-top: 50px;
}

.wrap-popular-products__item-pic-headpones {
	margin-top: 41px;
	margin-left: 43px;
	margin-right: 42px;
	width: 275px;
	height: 262px;
	background: url(./img/headphones_popular.png) no-repeat;
}

.popular-products__item-discont-headphones {
	position: relative;
	top: -6px;
	left: -8px;
	padding: 0px;
}

.popular-products__item-discont-speaker-headphones {
	padding-top: 75px;
}

.popular-products__item-discont-iphone-img {
	padding: 49px 47px 0px 47px;
}

.popular-products__item-discont-iphone-name {
	padding-top: 76px;
}

.popular-products__item-discont-speaker-name:hover {
	cursor: pointer;
}

.popular-products__view-more {
	font-family: "Hind Siliguri";
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 23px;
	text-transform: uppercase;
	color: #030d15;
	padding-top: 56px;
	margin: 0px;
	padding-left: 768px;
}

.popular-products__view-more-arrow {
	padding-left: 5px;
	width: 26px;
	height: 10px;
}

.popular-products__view-more-arrow:hover {
	padding-left: 14px;
	cursor: pointer;
}

/*popular products section end*/

/*storehouses products section start*/

.storehouses__title-whole {
	padding-top: 146px;
	width: 1140px;
	margin: 0 auto;
}

.popular-products__title-maintxt {
	text-align: center;
	margin-bottom: 7px;
}

.storehouses__title-txt {
	font-family: "Hind Siliguri";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #030d15;
	opacity: 0.6;
	margin: 0px;
	padding: 0px 341px;
}

.storehouses__content-item-game {
	width: 360px;
	height: 330px;
	background: url(./img/game.png) no-repeat;
	background-position: center;
	padding-bottom: 30px;
}

.storehouses__content-item-game-prices-control {
	padding-top: 35px;
	padding-left: 35px;
}

.popular-products__rating-img {
	padding-bottom: 0px;
}

.popular-products__item-nav-game {
	margin-top: 206px;
}

.storehouses__content-item-game-tablet {
	width: 360px;
	height: 456px;
	background: url(./img/Tablet.png) no-repeat;
	background-position-x: 30px;
	background-position-y: 53px;
}

.storehouses__content-item-game-telecopter {
	width: 360px;
	height: 252px;
	background: url(./img/telecopter-white.png) no-repeat;
	background-position-x: 26px;
	background-position-y: 18px;
	padding-bottom: 30px;
}

.storehouses__content-item-game-radio {
	width: 360px;
	height: 252px;
	background: url(./img/radio_small.png);
	padding-bottom: 30px;
}

.storehouses__content-item-game-laptop {
	width: 360px;
	height: 252px;
	background: url(./img/laptop_white.png) no-repeat;
	background-position-x: 39px;
	background-position-y: 27px;
}

.wrap-flex-storehouses__content {
	display: flex;
	width: 1140px;
	justify-content: space-between;
	padding-left: 230px;
	height: 816px;
	padding-top: 50px;
}

.storehouses__content-item-game-iphone {
	width: 360px;
	height: 432px;
	background: url(./img/iphone_blue.png) no-repeat;
	background-position-x: 26px;
	background-position-y: 36px;
	padding-bottom: 30px;
}

.storehouses__content-item-game-headphones {
	width: 360px;
	height: 354px;
	background: url(./img/headphones_red.png);
}
/*storehousesproducts section end*/

/*footer section start*/

.wrap-flex__footer-intire {
	display: flex;
	align-items: center;
	width: 1140px;
	justify-content: space-between;
	height: 110px;
	padding: 100px 230px;
}

.wrap-footer__contact p {
	width: 360px;
	margin: 0px;
}

.footer__contact-user-contact {
	text-align: start;
}

.footer__contact-user-contact-main {
	font-family: "Hind Siliguri";
	font-style: normal;
	font-weight: 500;
	font-size: 25px;
	line-height: 40px;
	color: #030d15;
}

.footer__contact-user-contact-sub-txt {
	padding-top: 8px;
}

.footer__contact-user-contact-email-subscribe {
	width: 122px;
	height: 50px;
	background: #247cc0;
	border: none;
	font-family: "Hind Siliguri";
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 23px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	margin-left: -5px;
	box-sizing: border-box;
}

.footer__contact-user-contact-email-subscribe:hover {
	cursor: pointer;
}
.footer__contact-user-contact-email-subscribe:active {
	opacity: 0.8;
}

.footer__contact-user-contact-email-placeholder {
	padding: 0px 120px 0px 26px;
	border: none;
	height: 50px;
	background: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
}

.footer__black-section {
	background: #030d15;
}

.wrap-flex__footer-intire-black {
	display: flex;
	background: #030d15;
	width: 1140px;
	height: 396px;
	margin: 0 auto;
	align-items: center;
}

.footer__black-section-label-discribtion {
	font-family: "Hind Siliguri";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 23px;
	color: #ffffff;
	opacity: 0.6;
	margin: 0px;
	margin-top: 22px;
}

.flex__footer-intire-section-list {
	list-style: none;
	padding-left: 0px;
	margin: 0px;
}

.flex__footer-intire-section-item {
	font-family: "Hind Siliguri";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 23px;
	color: #ffffff;
	padding-bottom: 15px;
	opacity: 0.6;
}

.flex__footer-intire-section-list li:first-child {
	font-family: "Hind Siliguri";
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 26px;
	color: #ffffff;
	padding-bottom: 26px;
	opacity: 1;
}

.flex__footer-intire-section-list li:last-child {
	padding-bottom: 0px;
}

.wrap-flex__footer-intire-section {
	color: #ffffff;
	width: 164px;
	height: 265px;
	padding-right: 31px;
}

.wrap-flex__footer-intire-black div:last-child {
	padding-right: 0px;
}

.wrap-flex__footer-intire-black div:first-child {
	width: 261px;
	padding-right: 32px;
}

.flex-wrap-intire-section-about-socials {
	display: flex;
	flex-wrap: wrap;
	width: 174px;
	height: 16px;
	justify-content: space-between;
	height: 15px;
	padding-top: 16px;
}

.wrap-flex__footer-intire-black div:last-child {
	width: 261px;
}

.footer-intire-section-about-title {
	font-family: "Hind Siliguri";
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 26px;
	color: #ffffff;
	margin: 0px;
}

.footer-intire-section-about-main-txt {
	font-family: "Hind Siliguri";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 23px;
	color: #ffffff;
	opacity: 0.6;
	margin: 0px;
	padding-top: 26px;
}

.footer-intire-section-about-web-site {
	margin: 0px;
	padding-top: 14px;
}

.footer-intire-section-about-web-site-link {
	text-decoration: none;
	font-family: "Hind Siliguri";
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 23px;
	color: #ffffff;
}

.section-about-socials {
	height: 15px;
}

.footer_change_lang {
	height: 23px;
	padding-top: 53px;
}

.footer_change_lang-icon {
	vertical-align: middle;
	padding-right: 5px;
}

.footer_change_lang-current {
	vertical-align: middle;
	padding-right: 4px;
}
